<%- include('header', {user: user}); %>
<section class="jumbotron text-center">
  <div class="container">
    <h1>Fitness app</h1>
    <p class="lead text-muted">Create workout programs with various exercises. Log into your account in order to manage
      workouts or register for a new account</p>
    <p>
      <a href="/login" class="btn btn-primary my-2">Log in</a>
      <a href="/register" class="btn btn-secondary my-2">Register</a>
    </p>
  </div>
</section>
<div class="row">
  <div class="col-6">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <img src="https://prenocuj.sk/wp-content/uploads/2019/10/cvičiť-doma-1.jpg" width="420px" height="350px"
        alt="Fitness girl">
      <div class="my-3 py-3">
        <h2 class="display-5">Create your own workouts</h2>
        <p class="lead">Create new workout plans manage them... And do some other stuff</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Create new exercises</h2>
        <p class="lead">Add exercises to your workouts manage your workouts and many more</p>
      </div>
      <img src="https://stlawyers.ca/wp-content/uploads/2020/03/steve-nash-fitness-world-e1585188738182.jpg"
        alt="Fitness" width="420px" height="350px" style="padding-bottom: 20px;">
    </div>
  </div>
</div>
<%- include('footer'); %>